@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: square;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color: black;
   /* color:#444;*/
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	background-image: url(http://subtlepatterns.com/patterns/old_map.png);
	background-repeat: repeat;
	width: 1435px;

	/*color: #333;
	color: rgba(0,0,0,0.5);*/
}

#top{
	height: 150px;
	background-color: #854B30;
	margin-top: 0em;
}

#logo{
	float: left;
	margin-top: 1%;
	margin-left: 8%;
}

#menu li {
	display:inline-block;
	margin-top: 110px;
	margin-right: 0.1%;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px 10px 0px 0px; 
            
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}

#menu li:hover{
	background: rgba(255,255,255, 0.8);
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	/*position:fixed;*/
	font-size: 1em;
	text-align: right;
	height: 70px;
	z-index: 70;
	right: 0;
	/*width: 80%;*/
	margin-right: 1%;
}

#Photo{
	border: BLACK 8px solid;
	width: 80%;

	/*width="1250" height="380"*/
}

.grey{ 
	color: GREY; 
}

h1{
	font-size: 5em;	
}

h2{
	font-size: 20px;
	font-weight: bold;
}

h3{
	font-size: 10px;
	color: GREY;
}

p{
	font-size: 1em;
	text-align: left;
}

.section{
	text-align:center;
	margin-top: 1em;
	clear: both;
}

.plus:before{
	content:"\2b";
}

#list li{
	margin: 10px;
	text-align:left;
}

#left-list, #right-list, #news, #speech{
	float:left;
}

#left-list{
	width: 30%;
}

#left-list img{
	height: 100%;
}

#right-list{
	width: 70%;
}

#news, #speech{
	width: 45%;
	text-align: left;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 2em;
	border-style: dashed;
	border-width: thick;
	border-color: #EE7600;
	border-radius: 20px;
	background-color: lightpink; /*#FFE4C4;*/
}
#news{
	margin-left: -10%;
}

#speech{

}

#news p, #speech p{
	font-size: 20px;
	line-height: 1em;
	/*padding-left: 5px;*/
	margin-left: 80%;
}

#news h2, 
#speech h2{
	border-bottom: maroon 2px solid;
	margin-right: 1em;
}

#news ul, #speech ul{
	font-size: 18px;
	line-height: 1.5em;
	padding-left: 2em;
}



#joinus span{
	padding-right: 1em;
}

#home{
	text-align: right;
	margin-right: 2%;
	line-height: 1em;
	font-size: 1.2em;
}

#home li{
	display:inline-block;
	margin-right: 2%;
	
}

#news a:hover, 
#speech a:hover, 
#joinus a:hover, 
#home a:hover{
	color: RED;
	text-decoration: underline;
}

#news a:visited, 
#speech a:visited, 
#joinus a:visited, 
#home a:visited{
	color: MidnightBlue;
	text-decoration: none;
}

#Bottom{
	line-height: 2em;
}
#bottom-hr{
	margin-left: 3em;
	margin-right: 3em;
	/*padding-top: 2em;*/
}



